* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  color: #878787;
  font: 1em/1.5 'Poppins', sans-serif;
}
body, html {
  height: 100%;
  margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
}

form {
  //max-width: 300px;
  margin: 0;
  padding: 10px 20px;
  //background: #fff;
  border-radius: 8px;
}

select {
  min-width: 190px;
}

/** class styles -------> **/

.bg-intro{
  background: #ffa949 url('img/gympic2.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
  transition: 1s;
}

.intro-content {
  color: #ffffff;
  text-align: center;
  padding: 160px 15px 0 15px;
}

.continue-button {
  padding-top: 50px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.ad {
  min-width: 100%;
  max-height: 150px;
}

.primary {
  padding: 20px 15px;
}

.description {
  display: block;
  color: #133d82;
  line-height: 1.2;
  text-align: center;
  //padding-bottom: 44px;
  //padding-top: 44px;
}

.location-logo,
.user-logo,
.dumbell-logo {
  max-width: 25%;
  height: auto;
  padding: 0 10px;
}

.location,
.user,
.dumbell {
  display: flex;
  align-items: center;
}

.user {
  justify-content: flex-end;
}

.secondary {
  padding-top: 20px;
}

.instruction-100 {
  padding-left: 5px;
  font-size: 13px;
}

.select-city,
.select-discount {
  border: none;
  width: 100%;
  font-size: 18px;
  background-color: #f4f4f4;
}

.find {
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.main-footer {
	background: #dbdbdb;
	padding: 2em 0;
	margin-top: 30px;
}

.social-media {
  text-align: center;
}

.social-media img {
  padding-right: 20px;
}


 @media (min-width: 700px) {
   .wrapper {
     display: flex;
   }

   .primary,
   .secondary {
    flex: 50%;
    align-items: center;
   }

   //.find {
     position: absolute;
     bottom: 0;
     left: 50%;
   }

 }
